{% if (current_rulebook_activation_index | default(0)) == 0 %}
---
eda_rulebook_activations:
{% endif %}
  - name: "{{ current_rulebook_activations_asset_value.name }}"
    description: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].description
                     | default(template_overrides_global.eda_rulebook_activation.description)
                     | default(current_rulebook_activations_asset_value.description) }}"
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].is_enabled is defined
      or template_overrides_global.eda_rulebook_activation.is_enabled is defined
      or current_rulebook_activations_asset_value.is_enabled %}
    is_enabled: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].is_enabled
                    | default(template_overrides_global.eda_rulebook_activation.is_enabled)
                    | default(current_rulebook_activations_asset_value.is_enabled) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].status is defined
      or template_overrides_global.eda_status is defined
      or current_rulebook_activations_asset_value.status is defined %}
    status: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].status
                | default(template_overrides_global.eda_status)
                | default(current_rulebook_activations_asset_value.status) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].git_hash is defined
      or template_overrides_global.git_hash is defined
      or current_rulebook_activations_asset_value.git_hash is defined %}
    scm_branch: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].git_hash
                    | default(template_overrides_global.eda_rulebook_activation.git_hash)
                    | default(current_rulebook_activations_asset_value.git_hash) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].rulebook_name is defined
      or template_overrides_global.eda_rulebook_activation.rulebook_name is defined
      or current_rulebook_activations_asset_value.rulebook_name is defined %}
    rulebook: "{{ current_rulebook_activations_asset_value.rulebook_name }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].organization_name is defined
      or template_overrides_global.eda_rulebook_activation.organization_name is defined
      or query_organization_name is defined %}
    organization: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].organization_name
                           | default(template_overrides_global.eda_rulebook_activation.organization_name)
                           | default(query_organization_name) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].project_name is defined
      or template_overrides_global.eda_rulebook_activation.project_name is defined
      or query_project_name is defined %}
    project: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].project_name
                                   | default(template_overrides_global.eda_rulebook_activation.project_name)
                                   | default(query_project_name) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].decision_environment is defined
      or template_overrides_global.eda_rulebook_activation.decision_environment is defined
      or query_decision_environment_name is defined %}
    decision_environment: "{{ template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].decision_environment
                                   | default(template_overrides_global.eda_rulebook_activation.decision_environment)
                                   | default(query_decision_environment_name) }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].eda_credentials is defined
        or template_overrides_global.eda_rulebook_activation.eda_credentials is defined
        or current_rulebook_activations_asset_value.eda_credentials is defined %}
    eda_credentials:
{%   for credential in current_rulebook_activations_asset_value.eda_credentials %}
      - "{{ credential.name }}"
{%   endfor %}
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].restart_policy is defined
        or template_overrides_global.eda_rulebook_activation.restart_policy is defined
        or current_rulebook_activations_asset_value.restart_policy is defined %}
    restart_policy: "{{ current_rulebook_activations_asset_value.restart_policy }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].log_level is defined
        or template_overrides_global.eda_rulebook_activation.log_level is defined
        or current_rulebook_activations_asset_value.log_level is defined %}
    log_level: "{{ current_rulebook_activations_asset_value.log_level }}"
{% endif %}
{% if template_overrides_resources.eda_rulebook_activation[current_rulebook_activations_asset_value.name].k8s_service_name is defined
        or template_overrides_global.eda_rulebook_activation.k8s_service_name is defined
        or current_rulebook_activations_asset_value.k8s_service_name is defined %}
    k8s_service_name: "{{ current_rulebook_activations_asset_value.k8s_service_name }}"
{% endif %}
{% if last_rulebook_activation | default(true) | bool %}
...
{% endif %}
